svg{
    width: 300px;
    position: relative;
    margin-top: 40px;

}

.animacion-uno {
  animation-name: animacion;
  animation-duration: 3s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  
 
}

@keyframes animacion {

  50% {
      transform: translate(35%, 0%);
  }
 
}

.animacion-dos {
  
  animation-name: animaciondos;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-box: fill-box; /*ayuda a 'encajar' la imagen 'The object bounding box is used as the reference box' */
  transform-origin: center;
  
}

@keyframes animaciondos {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}